// Buttons

.buttonwidget {
    padding: 2em 0;
}

.button,
a.button,
.link-button,
.tweet .button,
.clicktocall .phone-number-link,
.userregistration fieldset .userregistrationbtn,
a.ecomproduct__button,
a.blogpostlist__read-more,
a.contentgroup__link,
.ecomproductslist__button--clear {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 11px 30px;
    text-transform: uppercase;
    .appearance(none);
    .transition (all, 0.5s, ease);
	height: auto;
    background-color: @color__button--background;
    font-family: @font__button--font-family;
    font-size: @font__button--font-size;
    font-weight: @font__button--font-weight;
    line-height: @font__button--line-height;
    letter-spacing: @font__button--letter-spacing;
    color: @color__button--text;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
    
    .make-font-a-little-smaller(@font__button--font-size);
    .make-font-smaller(@font__button--font-size);
    .make-font-a-lot-smaller(@font__button--font-size);

    .style--light & {
        background-color: @color__button--background;
        color: @color__button--text;
    }

    .style--accent & {
        background-color: @color--dark;
        color: @contrast--dark;
    }

    .style--dark & {
        background-color: @color--accent;
        color: @contrast--accent;
    }
    
    &:hover {
        background-color: @color__button--background--hover;
        color: @color__button--text--hover;

        .style--light & {
            background-color: @color__button--background--hover;
            color: @color__button--text--hover;
        }

        .style--accent & {
            background-color: darken(@color--dark, 10%);
            color: @contrast--dark;
        }

        .style--dark & {
            background-color: lighten(@color--accent, 10%);
            color: @contrast--accent;
        }
    }

    span {
        color: @color__button--text;

        .style--light & {
            color: @color__button--text;
        }
    
        .style--accent & {
            color: @contrast--dark;
        }
    
        .style--dark & {
            color: @contrast--accent;
        }
        
        &:hover {
            color: @color__button--text--hover;
    
            .style--light & {
                color: @color__button--text--hover;
            }
    
            .style--accent & {
                color: @contrast--dark;
            }
    
            .style--dark & {
                color: @contrast--accent;
            }
        }
    }
}

.button,
a.button,
.link-button,
.tweet .button,
.clicktocall .phone-number-link,
.dropbox .button,
.paypalbuynow .button {
    &:before,
    &:after {
        position: relative;
        bottom: -0.15em;
        font-size: 1.5em;
        font-weight: 400;
    }
}


.userregistration fieldset .userregistrationbtn {
    margin-top: 20px;
}

// Dropbox

.dropbox__label {
    padding-left: 1em;
}

// Social Icons

.social-list {
    margin: 0 -0.5em
}

.social-item {
	margin: 0.5em;
	padding: 0;
	width: 36px;
	height: 36px;
}

.social-link {
    display: block;
    text-align: center;
    height: 36px;
    width: 36px;
    background: @color__button--background !important;
    color: @color__button--text !important;
    .transition (all, 0.5s, ease);

    .style--light & {
        background-color: @color__button--background !important;
        color: @color__button--text !important;
    }

    .style--accent & {
        background-color: @color--dark !important;
        color: @contrast--dark !important;
    }

    .style--dark & {
        background-color: @color--accent !important;
        color: @contrast--accent !important;
    }

    &:hover {
        text-decoration: none;
        background-color: @color__button--background--hover !important;
        color: @color__button--text--hover !important;
        .transition (all, 0.5s, ease);

        .style--light & {
            background-color: @color__button--background--hover !important;
            color: @color__button--text--hover !important;
        }

        .style--accent & {
            background-color: lighten(@color--dark, 10%) !important;
            color: @contrast--dark! important;
        }

        .style--dark & {
            background-color: lighten(@color--accent, 10%) !important;
            color: @contrast--accent !important;
        }
    }

    // Icon
    
    &:before {
        margin: 0 auto;
        padding: 0;
        font-size: 1.3em;
        display: block;
        line-height: 36px;
    }
}

.widget button.btn span {
	color: @font-swatch7-color;

	.style--light & {
		color: @font-swatch7-color;
	}

	.style--accent & {
		color: @contrast--dark;
	}

	.style--dark & {
		color: @contrast--accent;
	} 
}

.socialicons__social-name {
    display: none;
}
