// Forms

// Global Form Styles

.widget[data-name="signupform"],
.widget[data-name="contactform"],
.widget[data-name="advancedcontactform"] {
    border: 1px solid fade(@color__form--border, 20%);
    background: fade(@color__form--background, 10%);

    .style--light & {
        border-color: fade(@color__form--border, 20%);
        background: fade(@color__form--background, 10%);
    }

    .style--accent & {
        border-color: darken(@color--accent, 10%);
        background: darken(@color--accent, 5%);
    }

    .style--dark & {
        border-color: darken(@color--dark, 10%);
        background: darken(@color--dark, 5%);
    }

    .form {
        padding: 2em;
    }
}

// Form

.form {
    margin: 0 auto;

    @media @tablet-horizontal {
        max-width: 100%;
    }

    // Legend
    
    .legend {
        .heading--3;
        margin-bottom: 1em;
        color: @color__form-legend--text;
        background-color: transparent;
    
        .style--light & {
            color: @color__form-legend--text;
        }
    
        .style--accent & {
            color: @contrast--accent;
        }
    
        .style--dark & {
            color: @contrast--dark;
        }
    
        &:empty {
            display: none;
        }
    }
    
    // Form Group
    
    .form-group {
        margin-bottom: 1em;
    
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    
    // Label
    
    label {
        margin: 0 0 0.5em;
        line-height: 1.5em;
    }
}

label, .label {
    font-family: @font__p--font-family;
    font-size: @font__p--font-size;
    color: @color__p--text;
    word-break: break-word;
    font-weight: 400;
	
	.style--light & {
		color: @color__p--text;
	}

	.style--accent & {
		color: @contrast--accent;
	}

	.style--dark & {
		color: @contrast--dark;
	}
}

// Text Inputs

input,
input[type="search"],
input[type="email"],
input[type="password"],
.input--single-line,
.input--search,
textarea,
.select-wrap select {
    padding: 0.6em 1em;
    color: @color__p--text;
    height: @font__button--line-height;
    font-size: @font__p--font-size * 0.9;
    .transition();
    .appearance(none);
    border: 1px solid @color__form--border;

    .style--light & {
        border-color: @color__form--border;
    }

    .style--accent & {
        border-color: darken(@color--accent, 20%);
    }

    .style--dark & {
        border-color: darken(@color--dark, 20%);
    }
    
    &:hover,
    &:focus {
        border: 1px solid darken(@color__form--border, 5%);

        .style--light & {
            border-color: darken(@color__form--border, 5%);
        }

        .style--accent & {
            border-color: darken(@color--accent, 25%);
        }

        .style--dark & {
            border-color: darken(@color--dark, 25%);
        }
    }
}

// Multiple Lines Inputs

textarea {
    display: block;
}

// Select

.select-wrap {
    position: relative;
    margin-top: 1em;

    // Select

    select {
        padding: 0 2em 0 1em;
        .appearance(none);
        width: 100%;

        &::-ms-expand {
            display: none;
        }

        option {
            background-color: @color__container--background;
            color: @color__p--text;
        }
    }
    
    // Icon

    &:before {
        content: '\f107';
        font-family: 'FontAwesome', sans-serif;
        display: inline-block;
        height: 1em;
        line-height: 1em;
        text-align: center;
        font-size: 1.5em;
        color: @color__p--text;
        position: absolute;
        right: 0.5em;
        top: 50%;
        margin-top: -0.5em;
        z-index: 1;
    }
}

// Radio Buttons and Checkboxes

.widget .form {
	.option-list,
	[class*="form-group--terms"] {
		margin-top: 1em;

		.label--radio,
		.label--checkbox,
		label[for*="input--terms"],
		label[for*="input--terms"] span a.form__link {
			.paragraph;
            line-height: @font__p--line-height;
		}

		input[type="radio"],
		input[type="checkbox"] {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 !important;
			padding: 0 !important;
			width: 100% !important;
			height: 100% !important;

            + label:before {
                border: 1px solid @color__form--border;
            
                .style--light & {
                    border-color: @color__form--border;
                }
            
                .style--accent & {
                    border-color: darken(@color--accent, 20%);
                }
            
                .style--dark & {
                    border-color: @color--accent;
                }
            }

            &:hover + label:before,
            &:checked + label:before,
            &:focus + label:before,
            &:focus:checked + label:before {
                border: 1px solid darken(@color__form--border, 5%);
        
                .style--light & {
                    border-color: darken(@color__form--border, 5%);
                }
        
                .style--accent & {
                    border-color: darken(@color--accent, 25%);
                }
        
                .style--dark & {
                    border-color: @color--accent;
                }
            }

            &:checked + label:after {
                opacity: 1;
            }
		}

		.option-item--radio,
		.option-item--checkbox,
		&[class*="form-group"] {
			position: relative;
			width: 100%;
			margin-bottom: 1em;
			padding: 0;
            line-height: @font__p--line-height;
            min-height: @font__p--line-height;

			label {
				position: relative;
				cursor: pointer;
				display: block;
				margin-left: 40px;
				.transform-scale(1);
				word-break: break-word;
                line-height: @font__p--line-height;
                min-height: @font__p--line-height;
                width: 100%;
                margin-bottom: 0;
				
				&:before,
				&:after {
					cursor: pointer;
				}

				&:before {
					content: ' ';
					position: absolute;
                    top: 2px;
					left: -40px;
                    line-height: @font__p--line-height;
                    height: @font__p--line-height - 4px;
                    width: @font__p--line-height - 4px;
					background-color: @color__body--background;
					border: 1px solid @color__form--border;
					min-width: auto;
					max-height: none;
					.border-radius(0);
				}

				&:after {
					opacity: 0;
					position: absolute;
					.transition(opacity, 0.1s);
				}
			}
		}

		.option-item--radio {
			label {
				&:before {
					.border-radius(1em);
				}

				&:after {
					content: ' ';
					.border-radius(1em);
                    top: 2px;
					left: -40px;
                    height: @font__p--line-height - 4px;
                    width: @font__p--line-height - 4px;
                    line-height: @font__p--line-height;
					.transform-scale(0.5);
                    background-color: @color__form--border;
                
                    .style--light & {
                        background-color: @color__form--border;
                    }
                
                    .style--accent & {
                        background-color: darken(@color--accent, 20%);
                    }
                
                    .style--dark & {
                        background-color: @color--accent;
                    }
				}
			}
		}

		.option-item--checkbox,
		&[class*="form-group"] {
			label {
				&:after {
					content: '\f00c';
					font-family: 'FontAwesome', sans-serif;
					left: -37px;
					top: 0;
                    color: @color__form--border;
                
                    .style--light & {
                        color: @color__form--border;
                    }
                
                    .style--accent & {
                        color: darken(@color--accent, 20%);
                    }
                
                    .style--dark & {
                        color: @color--accent;
                    }
				}
			}
		}
	}
	
	[class*="form-group--terms"] {
		margin-top: 2em;
	}
}

// Error Messages

.form {
    input.error {
        border: none !important;
    }

    textarea.error {
        border: 1px solid @message-color--error !important;
    }
    
    .form-group {
        .error {
            border-bottom: 2px solid @message-color--error !important;

            &:focus {
                .box-shadow(none);
            }
        }
    }
}

// Sign Up Form

.signupform {
    .form-body {
        display: table;
        width: 100%;
		
		@media @mobile {
            display: block;
		}

		.responsivecolumns & {
            display: block;
		}
    }

    .form-group {
        display: table-cell;
        vertical-align: middle;
        
        &:first-child {
            width: 100%;
            padding-right: 0.5em;
		
            @media @mobile {
                display: block;
            }
    
            .responsivecolumns & {
                display: block;
            }
        }
        
        .button {
            white-space: nowrap;
        }
    }

    label {
        display: none;
    }
}

// Registration Form

.widget__userregistration {
	fieldset {
		margin: 0 auto;
		padding: 0;
		border: none;
		max-width: 400px;
		
		@media @mobile {
			max-width: none;
		}

		.responsivecolumns & {
			max-width: none;
		}

		input {
			width: 100%;
			box-sizing: border-box;
		}

		.error {
			padding: 20px 0 0;

			&[style*="display: block"] {
				padding: 20px 0;
			}

			&[style*="display: none"] {
				display: block !important;
			}
		}
	}
}

// Placeholders

::-webkit-input-placeholder {
   color: @color-text--light;

    .style--light & {
        color: @color-text--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

:-moz-placeholder {
   color: @color-text--light;

    .style--light & {
        color: @color-text--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

::-moz-placeholder {
   color: @color-text--light;

    .style--light & {
        color: @color-text--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

:-ms-input-placeholder {
   color: @color-text--light;

    .style--light & {
        color: @color-text--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

input:focus {
    &::-webkit-input-placeholder {
        color: transparent;
    }

    &:-moz-placeholder {
        color: transparent;
    }

    &::-moz-placeholder {
        color: transparent;
    }

    &:-ms-input-placeholder {
        color: transparent;
    }
}