// Image

// Image Title

.image-title {
	.heading--4;
	color: @color__image-title--text;

    .style--light & {
        color: @color__image-title--text;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

// Image Description

.image-description {
	color: @color__image-description--text;

    .style--light & {
        color: @color__image-description--text;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}