// Theme

// Basekit Elements

.top-level-overlay button.top-level-overlay__delete-button,
.row-overlay__delete-button,
.top-level-overlay button.top-level-overlay__arrangement-button--up,
.row-overlay__arrangement-button--up,
.top-level-overlay button.top-level-overlay__arrangement-button--down,
.row-overlay__arrangement-button--down, .row-overlay__edit-button {
	background: transparent !important;
}

.row-overlay__edit-button {
	background: #fff !important;
}

.is-dropdown-open .row-overlay__edit-button .row-overlay__edit-button-icon,
.is-setting-open .row-overlay__edit-button .row-overlay__edit-button-icon {
	left: auto !important;
    top: auto !important;
}

body:not(.ua-mobile-webkit):not(.row-add-mode) .row-overlay:hover::before,
body:not(.ua-mobile-webkit):not(.row-add-mode) .row-overlay:hover::after,
body:not(.row-add-mode) .row-overlay.hover::before, body:not(.row-add-mode) .row-overlay.hover::after,
body:not(.ua-mobile-webkit):not(.row-add-mode) .widget[data-name="row"]:hover .row-overlay::before,
body:not(.ua-mobile-webkit):not(.row-add-mode) .widget[data-name="row"]:hover .row-overlay::after,
body:not(.ua-mobile-webkit):not(.row-add-mode) .widget[data-name="row"].hover .row-overlay::before,
body:not(.ua-mobile-webkit):not(.row-add-mode) .widget[data-name="row"].hover .row-overlay::after,
body:not(.row-add-mode) .widget[data-name="row"]:hover .row-overlay::before, body:not(.row-add-mode) .widget[data-name="row"]:hover .row-overlay::after,
body:not(.row-add-mode) .widget[data-name="row"].hover .row-overlay::before, body:not(.row-add-mode) .widget[data-name="row"].hover .row-overlay::after,
body.ua-mobile-webkit:not(.row-add-mode) #page-zones__main :nth-child(odd) .row-overlay::before,
body.ua-mobile-webkit:not(.row-add-mode) #page-zones__main :nth-child(odd) .row-overlay::after,
body.ua-mobile-webkit:not(.row-add-mode) #page-zones__main :nth-child(even) .row-overlay::before,
body.ua-mobile-webkit:not(.row-add-mode) #page-zones__main :nth-child(even) .row-overlay::after {
	background: transparent !important;
}

// Header

.template__header {
	position: relative;
	background-color: @color__header--background;
	.header-border-removal();
}

.header__flexbox.container {
	display: flex;
	display: -webkit-flex;
	-webkit-align-items: center;
    align-items: center;
    -webkit-align-self: center;
    align-self: center;
	max-width: 1240px;

    @media @tablet {
        padding: 10px 20px;
        width: 100%;
    }
}

// Site Styles

* {
	.box-sizing(border-box);
	margin: 0;
    padding: 0;
	
	&:focus {
		outline: none;
	}
}

html, body {
    background-color: @color__body--background;
	min-height: 100vh;

	.make-font-a-little-smaller(@font__p--font-size);
	.make-font-smaller(@font__p--font-size);
	.make-font-a-lot-smaller(@font__p--font-size);
	
	.make-line-height-a-little-smaller(@font__p--line-height);
	.make-line-height-smaller(@font__p--line-height);
	.make-line-height-a-lot-smaller(@font__p--line-height);
}

body {
	position: relative;
}

body:not(.edit) {
    overflow-x: hidden;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

// Content

// Main

.template__content {
	padding: 5% 0;
	background-color: @color__container--background;

	@media @tablet {
		padding: 2.5% 0;
	}

	@media @mobile {
		padding: 0;
	}
}

// Container

#migrated .empty-zone, #migrated #page-zones__main:empty,
#migrated #page-zones__main > .widget:not([data-name="row"]),
#migrated .row:not(.row--width-no-padding) .row__container, #migrated [data-widget-type="pagetitle"],
.container {
	width: 90%;
	max-width: 1240px;
    margin: 0 auto;
    box-sizing: border-box;

	header &,
	footer & {
		background-color: transparent;
	}
}

// Footer

.template__footer {
    background-color: @color__footer--background;
    padding: 2em 0;

	.profile p {
		padding-bottom: .5em;
	}

	.container {
		display: flex;
		gap: 30px;
	
		@media @table {
			gap: 20px;
		}
	
		@media @mobile {
			display: block;
		}

		.footerleft, 
		.footerright {
			width: 50%;
		
			@media @mobile {
				width: auto;
				margin-bottom: 2em;
				text-align: center;
			}

			h1, h2, h3, h4, h5, h6, p {
				color: @color__container--background;
			}
		}
	}
}

.gdpr-footer {
    background-color: @color__footer--background;
    padding: 15px 0;
    
    a[class] {
        padding: 0 10px;
	    font-family: @font__navigation--font-family;
		color: @color__navigation--text;
    }
}

// Widget Overlay

.widget__item {
    font-size: 0;
}

// Standard Widgets

.main-content .widget {
    margin: 0 70px 70px;

    @media @tablet {
        margin: 0 40px 40px;
    }
    
    @media @mobile {
        margin: 0 30px 30px;
    }
}

// Responsive Column Widgets

.widget[data-name="responsivecolumns"] {
    .widget {
        width: 100%;
        
        @media @mobile {
            margin: 0 0 30px;
        }
    }

    .widget[data-name="content"] {
        @media @mobile {
            margin-bottom: 20px;
        }
    }
}

.column {
    @media @mobile {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Full Width Widgets

.widget[data-name="responsiveslideshow"],
.widget[data-widget-type="responsiveslideshow"],
.widget[data-name="youtube"],
.widget[data-name="map"],
.widget[data-name="youtube"],
.widget[data-name="gallery"],
.widget[data-name="blogpost"],
.widget[data-widget-type="blogpost"],
.widget[data-name="blogpostlist"],
.widget[data-name="ecomproductslist"],
.widget[data-name="ecomfeaturedproducts"],
.widget[data-name="ecomproduct"],
.widget[data-name="line"],
.widget[data-name="image"] {
    margin-top: 0 !important;
    margin-left: 0;
    margin-right: 0;
    
    &:last-child {
        margin-bottom: 0;
    }
}