// ----------------------------------------
// Sitrus: LESS > Main > Theme
// ----------------------------------------
// This contains all styles that are not
// widgets.
//
// #Header
// #Site Styles
// #Header
// #Page Styles
// #Content
// #Footer
// #Widget Overlay
//
// ----------------------------------------

// ------------------------------
// #Header
// ------------------------------

.template__header {
	position: relative;
	background-color: @color__header--background;
	border-bottom: 1px solid @color__header--border;
	.header-border-removal();
}

.header__flexbox.container {
	display: flex;
	display: -webkit-flex;
	-webkit-align-items: center;
    align-items: center;
    -webkit-align-self: center;
    align-self: center;

    @media @tablet {
        padding: 10px 20px 10px 10px;
        width: 100%;
    }
}


// ------------------------------
// #Site Styles
// ------------------------------

* {
	.box-sizing(border-box);
	margin: 0;
    padding: 0;
	
	&:focus {
		outline: none;
	}
}

html, body {
    background-color: @color__body--background;
	
	.make-font-a-little-smaller(@font__p--font-size);
	.make-font-smaller(@font__p--font-size);
	.make-font-a-lot-smaller(@font__p--font-size);
	
	// iOS fix of VH unit
    width: -webkit-calc(100% - 0px);
}

body:not(.edit) {
    overflow-x: hidden;
}


// Site Container
.site-container {

    @media @bp-global-above-fullwidth {
    }
}


// HTML5 Semantic Elements
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

// ------------------------------
// #Page Styles
// ------------------------------

.page {}

// ------------------------------
// #Content
// ------------------------------

// Main

.template__content {
	padding: @header-height 0;

	@media @tablet-horizontal {
		padding: @header-height*0.7 0;
	}
	@media @tablet {
		padding: @header-height*0.6 0;
	}
	@media @mobile {
		padding: @header-height*0.5 0;
	}
}

// Container

.container {
	width: 90%;
	max-width: @layout-max-width;
    margin: 0 auto;

    @media @tablet {
    }

	@media @mobile {
		width: 84%;
	}
}

// ------------------------------
// #Footer
// ------------------------------

.template__footer {
    background-color: @color__footer--background;
    border-top: 10px solid @color__footer--border;
    padding: 4em 0;
	.footer-border-removal()
	.container {
	}
	// Widget
	h1, h2, h3, h4, h5, p, .profile a {
		color: @color__footer--border;
		padding-bottom: 1em;
	}
	.profile p {
		padding-bottom: .5em;
	}
	.footerleft, 
	.footerright {
		display: inline-block;
		vertical-align: top;

		@media @tablet {
			display: block;
			text-align: center;
		}
	}
	.footerleft {
		width: 24%;
		margin-right: 1%;

		@media @tablet {
			width: 100%;
			margin-right: none;
		}
	}
}

.gdpr-footer {
    background-color: @color__footer--background;
    padding: 15px 0;
    
    a[class] {
        padding: 0 10px;
	    font-family: @font__navigation--font-family;
		color: @color__footer--border;
    }
}

// ------------------------------
// #Widget Overlay
// ------------------------------

.widget__item {
    font-size: 0;
}