// Theme

// Basekit Elements

.top-level-overlay button.top-level-overlay__delete-button,
.row-overlay__delete-button,
.top-level-overlay button.top-level-overlay__arrangement-button--up,
.row-overlay__arrangement-button--up,
.top-level-overlay button.top-level-overlay__arrangement-button--down,
.row-overlay__arrangement-button--down, .row-overlay__edit-button {
	background: transparent !important;
}

.row-overlay__edit-button {
	background: #fff !important;
}

.is-dropdown-open .row-overlay__edit-button .row-overlay__edit-button-icon,
.is-setting-open .row-overlay__edit-button .row-overlay__edit-button-icon {
	left: auto !important;
    top: auto !important;
}

body:not(.ua-mobile-webkit):not(.row-add-mode) .row-overlay:hover::before,
body:not(.ua-mobile-webkit):not(.row-add-mode) .row-overlay:hover::after,
body:not(.row-add-mode) .row-overlay.hover::before, body:not(.row-add-mode) .row-overlay.hover::after,
body:not(.ua-mobile-webkit):not(.row-add-mode) .widget[data-name="row"]:hover .row-overlay::before,
body:not(.ua-mobile-webkit):not(.row-add-mode) .widget[data-name="row"]:hover .row-overlay::after,
body:not(.ua-mobile-webkit):not(.row-add-mode) .widget[data-name="row"].hover .row-overlay::before,
body:not(.ua-mobile-webkit):not(.row-add-mode) .widget[data-name="row"].hover .row-overlay::after,
body:not(.row-add-mode) .widget[data-name="row"]:hover .row-overlay::before, body:not(.row-add-mode) .widget[data-name="row"]:hover .row-overlay::after,
body:not(.row-add-mode) .widget[data-name="row"].hover .row-overlay::before, body:not(.row-add-mode) .widget[data-name="row"].hover .row-overlay::after,
body.ua-mobile-webkit:not(.row-add-mode) #page-zones__main :nth-child(odd) .row-overlay::before,
body.ua-mobile-webkit:not(.row-add-mode) #page-zones__main :nth-child(odd) .row-overlay::after,
body.ua-mobile-webkit:not(.row-add-mode) #page-zones__main :nth-child(even) .row-overlay::before,
body.ua-mobile-webkit:not(.row-add-mode) #page-zones__main :nth-child(even) .row-overlay::after {
	background: transparent !important;
}

// Header

.template__header {
	position: relative;
	background-color: @color__header--background;
	.header-border-removal();
}

.header__flexbox.container {
	display: flex;
	display: -webkit-flex;
	-webkit-align-items: center;
    align-items: center;
    -webkit-align-self: center;
    align-self: center;
	max-width: 1240px;

    @media @tablet {
        padding: 10px 20px 10px 10px;
        width: 100%;
    }
}

// Site Styles

* {
	.box-sizing(border-box);
	margin: 0;
    padding: 0;
	
	&:focus {
		outline: none;
	}
}

html, body {
    background-color: @color__body--background;
    width: -webkit-calc(100% - 0px);

	.make-font-a-little-smaller(@font__p--font-size);
	.make-font-smaller(@font__p--font-size);
	.make-font-a-lot-smaller(@font__p--font-size);
	
	.make-line-height-a-little-smaller(@font__p--line-height);
	.make-line-height-smaller(@font__p--line-height);
	.make-line-height-a-lot-smaller(@font__p--line-height);
}

body {
	position: relative;
}

body:not(.edit) {
    overflow-x: hidden;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

// Content

// Main

.template__content {
	padding: 5% 0;

	@media @tablet {
		padding: 2.5% 0;
	}
	@media @mobile {
		padding: 0;
	}
}

// Container

#migrated .empty-zone, #migrated #page-zones__main:empty,
#migrated #page-zones__main > .widget:not([data-name="row"]),
#migrated .row:not(.row--width-no-padding) .row__container, #migrated [data-widget-type="pagetitle"],
.container {
	width: 90%;
	max-width: 1240px;
    margin: 0 auto;
    box-sizing: border-box;

	header &,
	footer & {
		background-color: transparent;
	}

	@media @tablet {
		width: 95%;
	}

	@media @mobile {
		width: 100%;
	}
}


// Footer

.template__footer {
    background-color: @color__footer--background;
    padding: 4em 0;
	.footer-border-removal();

	// Widget

	h1, h2, h3, h4, h5, p, .profile a {
		color: @color__footer--border;
		padding-bottom: 1em;
	}

	.profile p {
		padding-bottom: .5em;
	}

	.footerleft, 
	.footerright {
		display: inline-block;
		vertical-align: top;

		@media @tablet {
			display: block;
			text-align: center;
		}
	}
	
	.footerleft {
		width: 24%;
		margin-right: 1%;

		@media @tablet {
			width: 100%;
			margin-right: none;
		}
	}
}

.gdpr-footer {
    background-color: @color__footer--background;
    padding: 15px 0;
    
    a[class] {
        padding: 0 10px;
	    font-family: @font__navigation--font-family;
		color: @color__footer--border;
    }
}

// Widget Overlay

.widget__item {
    font-size: 0;
}