<div class="hero">
    {{widget('feature', 'feature', {
        'header': 'profile',
        'strapline': 'profile',
        'defaultBgImg': asset('images/feature-bg.jpg'),
        'positionTopPercentage': '0',
        'showBtn': true,
        'buttonText': 'Get more experience'
    })|raw}}
</div>
